$var title: Add Contract
$var injectibus:<script src="/static/js/jquery.autogrow-textarea.js" type="text/javascript"></script><script src="/static/js/jquery.limitMaxLength.js" type="text/javascript"></script><script type="text/javascript" src="/static/js/daterangepicker.jQuery.js"></script><script src="/static/js/jquery.ui.widget.js"></script><script src="/static/js/jquery.iframe-transport.js"></script><script src="/static/js/jquery.fileupload.js"></script><script type="text/javascript" src="/static/js/contract_add.js"></script>
      <div class="content">
        <div class="page-header">
          <h1>cSugar <small>Contract Management. Done right.</small></h1>
        </div>
        <form id="add_contract" action="/contract/add/" method="POST" class="form-stacked" enctype="multipart/form-data"
  accept-charset="utf-8">

        <div class="row">
          <div class="span-12">
            <fieldset>
              <legend>Contract Description</legend>
              <div id = 'contract_title_div' class="control-group">
                <label class="control-label" for="contract_title">Title</label>  
                <div class="controls">  
                  <textarea name="title" maxlength="$title_maxlength" rows="3" class="span9 ac" id="contract_title_ac" ></textarea>
                  <p class="help-block" id="contract_title_help">A title that will make it easy to find this contract again</p>  
                  <p class="charsRemaining"></p>
                </div>
              </div>
              
              <div id = 'contract_value_div' class="control-group">
                <label class="control-label" for="contract_value">Value</label>  
                <div class="controls">
                
                  <input type="text" name="contract_value" id="contract_value" value="" />
                  <select name="contract_value_currency" size="1" class="span3">
                    <option value="us_dollar" selected="selected">US Dollar</option>
                    <option value="euro">Euro</option>
                    <option value="uk_sterling">UK Sterling</option>
                    <option value="yen">Yen</option>
                  </select>
                  
                  <p class="help-block"">If this contract has a gross value enter it here</p>  
                </div>
              </div>
              
              <div class="control-group" id="contract_parties_div">  
                <label class="control-label" for="parties">Parties</label>  
                <div class="controls">  
                  <input type="text" id="party_tags" name="parties" class="span9" />
                  <p class="help-block" id="contract_parties_help">Choose from existing (known) parties or add new ones (comma creates party)</p>  
                </div>  
              </div>
              
              <div class="control-group">  
                <label class="control-label" for="tags">Tags</label>  
                <div class="controls">  
                  <input type="text" id="tag_tags" name="tags" class="span9" />
                  <p class="help-block">Tags are essential for categorising and searching for contracts</p>  
                </div>  
              </div>
              
            </fieldset>
            <fieldset>
              <legend>Contract Timeframe</legend>
              <div class="control-group" id="effective_dates_div">  
                <label class="control-label" for="effective_daterange">Period</label>  
                <div class="controls">  
                  <input type="text" id="rangeCEFrom" name="effective_from" style="width:250px"/>
                  <input type="text" id="rangeCETo"   name="effective_to" style="width:250px"/>
                  <p class="help-block" id="effective_from_help">Use this widget to choose the initial period of the contract</p>  
                  <p class="help-block" id="effective_to_help"></p>  
                </div>  
              </div>
              
              <div class="control-group" id="autorenewal_div">  
                <label class="control-label" for="autorenewal">Autorewal</label>  
                <div class="controls">
                    <input type="checkbox" id="bool_autorenew" name="bool_autorenew" > Check this box if the contract autorenews
                </div>  
              </div>
              

                <div id="renewal_details" class="span8">  
                  This contract autorenews for periods of 
                  <select id="renewal_period" name="renewal_period" size="1" class="span2" disabled>
                  $for i in range(1,13):
                    $if i == 1:
                      <option selected="selected">$i</option>
                    $else:
                      <option>$i</option>
                  </select> 
                  <select id="renewal_units" name="renewal_units" size="1" class="span2" disabled>
                    <option selected="selected" value="year">year(s)</option>
                    <option value="month">month(s)</options>
                  </select> if not terminated 
                  <select size="1" class="span2" id="notice_period" name="notice_period" disabled>
                  $for i in range(1,32):
                    $if i == 30:
                      <option selected="selected">$i</option>
                    $else:
                      <option>$i</option>
                  </select>
                  <select id="notice_units" name="notice_units" size="1" class="span2" disabled>
                    <option selected="selected" value="day">day(s)</options>
                    <option value="month">month(s)</option>
                  </select> before renewal recurrence.
                  <br />
                    <input type="checkbox" id="bool_renew_limit" name="bool_renew_limit"> Check this box if you want to limit the number of renewal periods
              </div>
              <div id="renewal_period_limit_div" class="span6">
                Recurrence stops after <select id="renewal_period_limit" size="1" name="recurrence" class="span2">
                  $for i in range(1,11):
                    <option>$i</option>
                </select> recurrence periods.
              </div>
              
            </fieldset>
            
            <fieldset>
              <legend>Rights and Obligations</legend>
              <div id="rights_and_obligations_div">
                <div class="roClonedInput control-group">
                <div class="controls">
                  <div class="row">
                    <table>
                    <tr>
                      <td>
                      <label class="control-label" for="ro_description">Description</label>                    
                      <textarea maxlength="$ro_maxlength" class="ro_textarea span9" name="ro_desc_1"></textarea><br/>
                      
                      Right <input type="radio" name="ro_1" value="right" checked /> <br/>
                      Obligation <input type="radio" name="ro_1" value="obligation" />
                      
                      <p class="help-block"></p>
                      </td>
                      <td>
                      <label class="control-label" for="custom_field_name"><span style="color:white">.</span></label>    
                      <a class="add_ro btn btn-mini primary" href="#"><i class="icon-plus icon-white"></i> Add</a>
                      <a class="delete_ro btn btn-mini danger" href="#"><i class="icon-trash icon-white"></i> Delete</a>
                      </td>
                    </tr>
                    </table>
                  </div>
                    
                </div>
              </div>
            </div>
              
            </fieldset>
            
            <fieldset>
              <legend>Events</legend>
              <div id="events_div">
                <div class="events control-group">
                <div class="controls">
                  <div class="row">
                    <div class="span3">

                      <div class="controls">
                        <label class="control-label" for="ro_description">Date</label> 
                        <div class="input-prepend">
                          <span class="add-on"><i class="icon-calendar"></i></span><input class="span2 datepicker" name="event_date_1" id="event_date_1" type="text">
                        </div>
                      </div>
                    </div>
                    
                    <div class="span5">
                      <label class="control-label" for="ro_description">Description</label> 
                      <textarea maxlength="255" id="event_desc_1" name="event_desc_1"></textarea>
                      <p class="charsRemaining"></p>
                    </div>
                    <div class="span3">
                      <label class="control-label" for="custom_field_name"><span style="color:white">.</span></label>
                      <a class="add_event btn btn-mini primary" href="#"><i class="icon-plus icon-white"></i> Add</a>
                      <a class="delete_event btn btn-mini danger" href="#"><i class="icon-trash icon-white"></i> Delete</a>
                    </div>
                    
                  </div>
                  <p class="help-block" id="help-block_event_1"/>
                </div>
              </div>
            </div>
              
            </fieldset>
            
            <fieldset>
              <legend>Custom Fields</legend>
              <div id="custom_field_div">
                <div class="clonedInput control-group">
                <div class="controls">
                  <div class="row">
                    <table>
                    <tr>
                      <td>
                      <label class="control-label" for="custom_field_name">Field Name</label>                    
                      <input type="text" class="custom_field_autocomplete" name="custom_field_name_0" value=""/>
                      <p class="help-block cfa"></p>
                      </td>
                      <td>
                      <label class="control-label" for="custom_field_value">Field Value</label>
                      <input type="text"  class="cfv" name="custom_field_value_0" value=""/>
                      <p class="help-block cfv"></p>
                      </td>
                      <td>
                      <label class="control-label" for="custom_field_name"><span style="color:white">.</span></label>  
                      <a class="add_custom_field btn btn-mini primary" href="#"><i class="icon-plus icon-white"></i> Add</a>
                      <a class="delete_custom_field btn btn-mini danger" href="#"><i class="icon-trash icon-white"></i> Delete</a>
                      </td>
                    </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
              
            </fieldset>
            
            
           
            <fieldset>
            <legend>Documents</legend>
             <div id = 'contract_documents_div' class="control-group">
               
                <div class="controls">
                
                  <input type="file" name="files[]" id="fileupload" class="upload-file span6" data-url="/api/doc/adddoc/" multiple />
                 
                  
                  <p class="help-block"">Choose up to $max_doc_num files (or drag and drop files from your desktop)</p>
                  
                  <div id="already_uploaded">
                  </div>  
                </div>
              </div>
            </fieldset>
            
            <fieldset><input type="submit" value="Add Contract" /></fieldset>
          </div>
        </div>

      </form>
    </div>



