$def with(contract)
$var injectibus: 
$var title: View Contract ($contract.title)

      <div class="content">
        <div class="page-header">
          <h1>cSugar <small>Contract Management. Done right.</small></h1>
        </div>
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span6">Foo</div>
              <div class="spa6">Bar</div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <p>jQuery UI Bootstrap &copy; Addy Osmani 2012. Twitter Bootstrap &copy; Twitter 2012</p>
      </footer>

