$def with(id)
$var injectibus: 
$var title: Sorry! No contract was found matching id $id

      <div class="content">
        <div class="page-header">
          <h1>cSugar <small>Contract Management. Done right.</small></h1>
        </div>
        <div class="row">
          <div class="span12">

              <h2>Sorry, couldn't find that contract</h2>
  
        </div>
      </div>



