$var title: Preferences

      <div class="content">
        <div class="page-header">
          <h1>cSugar <small>Contract Management. Done right.</small></h1>
        </div>
        <div class="row">
        
        <!-- Tabs -->
            <div id="tabs">
              <ul>
                <li><a href="#user-details-tab">User Details</a></li>
                <li><a href="#contract-preferences-tab">Contract Preferences</a></li>
                <li><a href="#alert-preferences-tab">Alert Preferences</a></li>
              </ul>
              <div id="user-details-tab">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div id="contract-preferences-tab">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div id="alert-preferences-tab">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>

            </div>
            <!--end tabs-->
            
            
          </div>
          <div class="row">

          <!--left col-->
          <div class="span10">


          <!--welcome-->
          <div class="alert-message block-message warning">      
            <p>
              <p><strong>Welcome!</strong> This is a live preview of new the jQuery UI Bootstrap theme -  a project I started to bring the beauty of Twitter's <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> to jQuery UI widgets.
              </p>
              <p>
              With this theme, not only do you get the ability to use Bootstrap-themed widgets, but you can now also use (most) of Twitter Bootstrap side-by-wide with it without components breaking visually. </p>
              <p>
              It's still a work-in-progress, but I hope you find it useful. Issues and pull requests are always welcome - <a href="http://twitter.com/addyosmani">@addyosmani</a>
              </p>
            </p>
          </div>
          <!--end welcome-->

            

           <!-- Dialog NOTE: Dialog is not generated by UI in this demo so it can be visually styled in themeroller-->
            <h2 class="demoHeaders">Dialog</h2>
            <p><a href="#" id="dialog_link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Open Dialog</a>
            &nbsp;
            <a href="#" id="modal_link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Open Modal Dialog</a>
            </p>


            <h2 class="demoHeaders">Overlay and Shadow Classes</h2>
            <div style="position: relative; width: 96%; height: 200px; padding:1% 4%; overflow:hidden;" class="fakewindowcontain">
              <p>Lorem ipsum dolor sit amet,  Nulla nec tortor. Donec id elit quis purus consectetur consequat. </p><p>Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. Aliquam ante. Suspendisse scelerisque dui nec velit. Duis augue augue, gravida euismod, vulputate ac, facilisis id, sem. Morbi in orci. </p><p>Nulla purus lacus, pulvinar vel, malesuada ac, mattis nec, quam. Nam molestie scelerisque quam. Nullam feugiat cursus lacus.orem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero risus, commodo vitae, pharetra mollis, posuere eu, pede. Nulla nec tortor. Donec id elit quis purus consectetur consequat. </p><p>Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. Aliquam ante. Suspendisse scelerisque dui nec velit. Duis augue augue, gravida euismod, vulputate ac, facilisis id, sem. Morbi in orci. Nulla purus lacus, pulvinar vel, malesuada ac, mattis nec, quam. Nam molestie scelerisque quam. </p><p>Nullam feugiat cursus lacus.orem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero risus, commodo vitae, pharetra mollis, posuere eu, pede. Nulla nec tortor. Donec id elit quis purus consectetur consequat. Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. Aliquam ante. </p><p>Suspendisse scelerisque dui nec velit. Duis augue augue, gravida euismod, vulputate ac, facilisis id, sem. Morbi in orci. Nulla purus lacus, pulvinar vel, malesuada ac, mattis nec, quam. Nam molestie scelerisque quam. Nullam feugiat cursus lacus.orem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero risus, commodo vitae, pharetra mollis, posuere eu, pede. Nulla nec tortor. Donec id elit quis purus consectetur consequat. Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. </p>

              <!-- ui-dialog -->
              <div class="ui-overlay"><div class="ui-widget-overlay"></div><div class="ui-widget-shadow ui-corner-all" style="width: 302px; height: 152px; position: absolute; left: 50px; top: 30px;"></div></div>
              <div style="position: absolute; width: 280px; height: 130px;left: 50px; top: 30px; padding: 10px;" class="ui-widget ui-widget-content ui-corner-all">
                <div class="ui-dialog-content ui-widget-content" style="background: none; border: 0;">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>

            </div>


            


            <!--Dynamic tabs-->
            <style>
              #dialog2 label, #dialog2 input { display:block; }
              #dialog2 label { margin-top: 0.5em; }
              #dialog2 input, #dialog2 textarea { width: 95%; }
              #tabs2 { margin-top: 1em; }
              #tabs2 li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
              #add_tab { cursor: pointer; }          
            </style>


            <p>&nbsp;</p>
            <div class="demo">

              <h2 class="demoHeaders">Dynamic Tabs</h2>
              <div id="dialog2" title="Tab data">
                <form>
                  <fieldset class="ui-helper-reset">
                    <label for="tab_title">Title</label>
                    <input type="text" name="tab_title" id="tab_title" value="" class="ui-widget-content ui-corner-all" />
                    <label for="tab_content">Content</label>
                    <textarea name="tab_content" id="tab_content" class="ui-widget-content ui-corner-all"></textarea>
                  </fieldset>
                </form>
              </div>

              <button id="add_tab" class="ui-button-primary">Add Tab</button>

              <div id="tabs2">
                <ul>
                  <li><a href="#tabs-1">Nunc tincidunt</a></li>
                </ul>
                <div id="tabs-1">
                  <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
                </div>
              </div>

            </div><!-- End demo -->

            <div class="demo-description">
            <p>Simple tabs adding and removing.</p>
            </div><!-- End demo-description -->


          <!--start combinations-->
          <h2 class="demoHeaders">Combination examples</h2>
            <div class="columnbox" style="height: 200px;">
              <div id="tabs2">
                <ul>
                  <li><a href="#tabs2-1">First</a></li>
                  <li><a href="#tabs2-2">Second</a></li>
                  <li><a href="#tabs2-3">Third</a></li>
                </ul>
                <div id="tabs2-1">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget diam nec urna hendrerit tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum aliquam ligula non nulla cursus volutpat. Aliquam malesuada felis nec turpis auctor interdum. Cras et lobortis dolor. Nam sodales, dolor eu cursus faucibus, justo leo vestibulum turpis, id malesuada erat ipsum et leo. Integer id aliquam augue. Proin quis risus magna.</p>
                  <a href="#" id="sampleButton">Change</a>
                </div>
                <div id="tabs2-2">Tab 2</div>
                <div id="tabs2-3">Tab 3</div>
              </div>
            </div>
          <!--end combinations-->
            <br />




          <!--start filamentgroup datepicker-->
            <link href="/static/css/ui.daterangepicker.css" media="screen" rel="Stylesheet" type="text/css" />

            <p>&nbsp;</p>
            <h2>FilamentGroup Date Range Picker</h2>
            <p>&nbsp;</p>
            <p>
              The date range picker plugin code is open source and available in a git repository, <a href="https://github.com/filamentgroup/jQuery-UI-Date-Range-Picker">jQuery-UI-Date-Range-Picker</a>. For demonstration sakes it is included in this theme pack with style updates.
            </p>
            <p>
            <h3>Default Rangepicker</h3>  
            <div>
              <input type="text" value="4/23/99" id="rangeA" />     
            </div>

            <h3>2 inputs Rangepicker</h3> 
            <div>
              <input type="text" value="4/23/99" id="rangeBa" />  
              <input type="text" value="4/23/99" id="rangeBb" />      
            </div>

            </p>
            <!--end filament group datepicker-->


          
           
   


          </div>
          <!--end col-->



          <!--right col-->
          <div class="span4">

            <!-- Buttons -->
            <h2 class="demoHeaders">Buttons</h2>
            <div id="buttons">

              <button>Default</button>
              <button class="ui-button-primary">Primary</button>
              <button class="ui-button-success">Success</button>
              </br>
              </br>
              <button class="ui-button-error">Danger</button>

              <a class="button">Anchor</a>

              <input type="submit" class="button" value="Submit"/>

            </div>

            </br>
          



            <!-- Highlight / Error -->
            <h2 class="demoHeaders">Highlight / Error</h2>
            <div class="ui-widget">
              <div class="ui-state-highlight ui-corner-all">
                <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                <strong>Hey!</strong> Sample ui-state-highlight style.</p>
              </div>
            </div>

            <div class="ui-widget">
              <div class="ui-state-error ui-corner-all">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Alert:</strong> Sample ui-state-error style.</p>
              </div>
            </div>


            <div class="ui-widget">
              <div class="ui-state-default ui-corner-all">
                <p><span class="ui-icon ui-icon-mail-closed" style="float: left; margin-right: .3em;"></span>
                <strong>Hello:</strong> Sample ui-state-default style.</p>
              </div>
            </div>
            <!--end highlights-->



            <!--Autocomplete-->
            <h2 class="demoHeaders">Autocomplete</h2>
            <!--autocomplete-->
            <div class="ui-widget">
              <label for="tags">Tags: </label>
              <input id="tags" />
            </div>
            <!--end autocomplete-->


            <!-- Datepicker -->
            <h2 class="demoHeaders">Datepicker</h2>
            <div id="datepicker"></div>
            <!--end datepicker-->


          </div>
          <!--end col-->


        </div>
      </div>

      <footer>
        <p>jQuery UI Bootstrap &copy; Addy Osmani 2012. Twitter Bootstrap &copy; Twitter 2012</p>
      </footer>
